ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=EmailApp;User Id=sa;Password=YourStrong!Password;TrustServerCertificate=True
Jwt__Key=
Jwt__Issuer=EmailApp.Server
Jwt__Audience=EmailApp.Client
AWS__Bucket=
AWS__Region=
AWS__PresignedUrlExpiryMinutes=5
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=